@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

.jumbotron {
               background-image: url("background-index.jpeg");
               background-repeat: no-repeat;
               background-size: cover;
               min-height: 300px;
               width:100%;
               color: white;
               /*padding-left:42px;*/

}



#derek {
                padding-bottom: 20px;
}

 p {
                color: 555555;
                font-family: "Source Sans Pro";
                font-size: 1.4em;
            }

li {
            
                font-family: "Source Sans Pro";            
                font-size: 1.2em;
                font-weight: 1000;
}

h2 {
                color: 555555;
                font-family: "Source Sans Pro";
                font-size: 1.7em;
                font-weight: 800;
            } 

label, input, textarea {
                color: 555555;
                font-family: "Source Sans Pro";
                font-size: 1em;
                font-weight: 520;
}

.topnav {
                overflow: hidden;
            }


            
h1 {
                font-size: 4em;
                text-align: center;
                color: white;
                font-family: "Source Sans Pro";
                font-weight: 1000;
            }

        

.navbar {
                background:transparent;
                border:0;
                margin-top: -30px;
                
}

.navbar .navbar-nav {
               display: inline-block;
               float: none;
               vertical-align: top;
}

.nav.navbar-nav li a {
    color: white;
}


.navbar .navbar-collapse {
  text-align: center;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

.caption {
    text-align: center
}

/* .vertical-center {
              display: flex;
              align-items: center;
} */

/* .navbar-nav > li > a {
              padding-top:5px !important; 
              padding-bottom:5px !important; 
              margin-top:0px; 
              margin-bottom:0px;
}

.navbar {min-height:32px !important} */
